.lead {
    max-width: 984px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
    padding-top: 48px;
}


@media screen and (max-width: 1024px) {
    .lead {
        min-width: 320px;
        max-width: 928px;
    }
}
